<div class="footernav">
	<ul id="menu-footer" class="">
		<li class="menu-item"><a href="/">Home</a></li>
		<li class="menu-item"><a href="/about/">About us</a></li>
		<li class="menu-item"><a href="/longfin-tuna/">Longfin Tuna</a></li>
		<li class="menu-item"><a href="/extinction-crisis/">Extinction Crisis</a></li>
		<li class="menu-item"><a href="/conservation/">Conservation</a></li>
		<li class="menu-item"><a href="/research/">Education</a></li>
		<li class="menu-item"><a href="/tuna-news/">Tuna News</a></li>
		<li class="menu-item"><a href="/about/contact/">Contact</a></li>
		<li class="menu-item"><a href="/references/">References</a></li>
		<li class="menu-item"><a target="_blank" href="/sitemap.xml">Sitemap</a></li>
	</ul>
</div>
</div>
</div>

<div id="footer">
	<div class="copyright" style="text-align:left;float:left">
	&copy; 2022 Manaaki Tuna. All rights reserved.
</div>
</div>

<script type="text/javascript">
Cufon.now();
</script>
<script type="text/javascript" src="/js/scripts.js"></script>

<script type="text/javascript">
jQuery('.jcarousel-skin-tango img').click(function() {
	dataLayer.push({
		'event': 'lightbox',
		'eventCategory': 'launchLightbox',
		'eventAction': 'click',
		'eventLabel': jQuery(this).attr('src')
	});
});
</script>

</body>

</html>