<div id="contactnav">
  <ul>
    <li><a href="/about/contact">Contact</a></li>
  </ul>
</div>

<div id="wrapper">
  <div id="header">
    <img src="/images/logo.gif" id="logoimagecoziesux" alt="Manaaki Tuna - Lifeline for Longfins" />
    <h1>Manaaki Tuna <span>lifeline for longfins</span></h1>
    <h2>Protecting and restoring our endangered and iconic longfin eel</h2>
    
    <div id="pagenav" class="menu-primary-container">
      <ul id="nav" class="sf-menu">
        <li  class="menu-item  menu-item-home "> 
          <a href="/">Home</a></li>
        <li  class="menu-item menu-item-has-children "> <a href="/about" aria-current="page">About us</a>
          <ul class="sub-menu">
            <li  class="menu-item  "> <a href="/about/affiliates">Affiliates</a></li>
            <li id="menu-item-97" class="menu-item"> <a href="/about/contact">Contact</a></li>
          </ul>
        </li>
        <li  class="menu-item  menu-item-has-children "> <a href="/longfin-tuna">Longfin Tuna</a>
          <ul class="sub-menu">
            <li id="menu-item-75" class="menu-item"> 
              <a href="/longfin-tuna/importance-of-tuna-to-maori/">Importance of Tuna to Maori</a></li>
          </ul>
        </li>
        <li  class="menu-item  "> <a href="/extinction-crisis/">Extinction Crisis</a></li>
        <li  class="menu-item  "> <a href="/conservation/">Conservation</a></li>
        <li  class="menu-item  "> <a href="/tuna-news/">Tuna News</a></li>
        <li  class="menu-item  menu-item-has-children "> <a href="/research/">Education</a>
          <ul class="sub-menu">
            <li id="menu-item-123" class="menu-item  menu-item-123"> <a href="/references/">References</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
