{% include html_head.html %} 
{% include header.html %}

<div id="main">
	<div class="container">
		<div id="frontpage">
			<ul id="mycarousel" class="jcarousel-skin-tango">
				<li>
					<a href="/images/1_1.jpg" rel="prettyPhoto[pp_gal]" title=""><img src="/images/1.jpg" alt="Hello Mr. Tuna" /></a>
				</li>
				<li>
					<a href="/images/2_1.jpg" rel="prettyPhoto[pp_gal]" title=""><img src="/images/2.jpg" alt="" /></a>
				</li>
				<li>
					<a href="/images/3_1.jpg" rel="prettyPhoto[pp_gal]" title=""><img src="/images/3.jpg" alt="" /></a>
				</li>
				<li>
					<a href="/images/4_1.jpg" rel="prettyPhoto[pp_gal]" title=""><img src="/images/4.jpg" alt="" /></a>
				</li>
				<li>
					<a href="/images/5_1.jpg" rel="prettyPhoto[pp_gal]" title=""><img src="/images/5.jpg" alt="" /></a>
				</li>
				<li>
					<a href="/images/6_1.jpg" rel="prettyPhoto[pp_gal]" title=""><img src="/images/6.jpg" alt="" /></a>
				</li>
				<li>
					<a href="/images/7_1.jpg" rel="prettyPhoto[pp_gal]" title=""><img src="/images/7.jpg" alt="" /></a>
				</li>
				<li>
					<a href="/images/8_1.jpg" rel="prettyPhoto[pp_gal]" title=""><img src="/images/8.jpg" alt="" /></a>
				</li>
			</ul>
		</div>
		<div class="slogan">
			<h2>Lifeline for Longfins</h2>
			<p> Longfin EEL (Tuna) numbers have been reduced by years of excessive commercial exploitation, habitat loss and declining water quality. Nowadays very few Tuna are reaching breeding age and the population is facing collapse.</p>
		</div>
		<div class="home_widgets">
			<div class="widget widget_text">
				<h3>Who are we?</h3>
				<div class="textwidget"><img src="/images/IMGP3780.JPG" class="alignright margintop" alt="" />Manaaki Tuna is a multi-disciplinary group comprised of academics, teachers and researchers from Massey University, iwi, hapu and environmental groups who have joined forces to address the plight of the tuna &acirc;&euro;&ldquo; the longfin eel. The group supports the call for a moratorium (rahui) on the commercial harvest of the tuna initiated by freshwater ecologist, Dr Mike Joy, and is looking at ways to link ecosystem science and matauranga Maori perspectives with community management approaches required to protect the species.
					<br /> <a href="/about">Learn More...</a></div>
			</div>
			<div class="widget widget_text">
				<h3>Help save our Longfin Tuna</h3>
				<div class="textwidget"><img src="/images/longfin1.jpg" class="alignright margintop" alt="" />Our endemic Longfin eels are unique - they are the biggest, longest-lived eel species in the world. The females can reach more than 2 m in size and live up to 100 years of age before breeding - and then, with the smaller males, must swim 2000 km to the Tonga trench, where they will spawn and die. The larval eels drift on ocean currents to New Zealand where they make their way up rivers as elvers to live out their lives as key predators in fresh water ecosystems.
					<br /> <a href="/longfin-tuna/">Learn More...</a></div>
			</div>
			
			<!-- 
			<div class="widget widget_text">
				<h3>Join our Mailing List</h3>
				<div class="textwidget">
					<div id="mc_embed_signup">
						<form action="https://longfineel.us5.list-manage.com/subscribe/post?u=db35a0dbd453a74f0f85a5ee9&amp;id=031a2c7038" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="" style="width:60%" />
							<br />
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
							<br />
						</form>
					</div>
					<div class="mtlfclear">&nbsp;</div>
				</div>
			</div> -->

				<div class="widget widget_text">
		<h3>Find us on Facebook</h3>
		<p> <a href="https://www.facebook.com/groups/326092902378" target="_blank" rel="noopener noreferrer">
				Join our facebook community
			</a> </p>
	</div>
	<div class="widget cat-post-widget">
		<h3>Tuna News</h3>
		<ul id="category-posts-2-internal" class="category-posts-internal">
			<li class="cat-post-item"> <a class="post-title cat-post-title" href="/tuna-news/manaaki-tuna-petition-update/" rel="bookmark">Manaaki Tuna Petition Update</a>
				<a class="cat-post-thumbnail" href="/tuna-news/manaaki-tuna-petition-update/" title="Manaaki Tuna Petition Update"> <span>
						<img 
							width="50" 
							height="50"
							src="/images/eel_hiding-50x50.jpg" 
							class="attachment-50x50 size-50x50 wp-post-image" alt="" srcset=
				"/images/eel_hiding-50x50.jpg 50w, /images/eel_hiding-150x150.jpg 150w, /images/eel_hiding-300x300.jpg 300w, /images/eel_hiding-25x25.jpg 25w, /images/eel_hiding.jpg 360w"
			sizes="(max-width: 50px) 100vw, 50px" /></span></a>
			</li>
			<li class="cat-post-item"><a class="post-title cat-post-title" href="/tuna-news/the-travelling-tuna-tapestry-is-going-to-the-beehive/" rel="bookmark">The Travelling Tuna Tapestry is going to the
			Beehive</a> <a class="cat-post-thumbnail" href="/tuna-news/the-travelling-tuna-tapestry-is-going-to-the-beehive/" title="The Travelling Tuna Tapestry is going to the Beehive"><span><img width="50"
				height="50" src="/images/advertisement-for-the-march1-50x50.jpg"
				class="attachment-50x50 size-50x50 wp-post-image" alt="" 
				srcset="/images/advertisement-for-the-march1-50x50.jpg 50w, /images/advertisement-for-the-march1-150x150.jpg 150w, /images/advertisement-for-the-march1-25x25.jpg 25w"
				sizes="(max-width: 50px) 100vw, 50px" /></span>
			</a></li>
			<li class="cat-post-item"><a class="post-title cat-post-title" href="/tuna-news/save-me/" rel="bookmark">Save Me!</a> <a class="cat-post-thumbnail" href="/tuna-news/save-me/" title="Save Me!"><span><img width="50" height="50" src=
				"/images/signing-the-eel-50x50.png" class=
				"attachment-50x50 size-50x50 wp-post-image" alt=
				"Students signing the banner" srcset=
				"/images/signing-the-eel-50x50.png 50w, /images/signing-the-eel-150x150.png 150w, /images/signing-the-eel-25x25.png 25w"
					sizes="(max-width: 50px) 100vw, 50px" /></span>
				</a> </li>
		</ul>
	</div>
		</div>
	</div> {% include footer.html %} </div>